<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body ng-app = "TimeWaste">
	
	<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
		<div class="container">
			<div ng-show="!loggedIn"> <input type="text" ng-model="login.email"name=""> <input type="password" ng-model="login.password" name=""> <button ng-click="logUserIn()">Login</button> <a ui-sref="signup">Create An Account</a></div>
			<div ng-show="loggedIn"> <a ui-sref="editProfile">Edit Profile </a>
			<a ui-sref="follow">Follow Users</a>
			<a ng-click="logOut()"> Log out</a>
			</div>
		</div>
	</nav>

		<div ui-view> </div>
	
</body>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<!-- Controlers    -->
<script src="public/app.js"></script>
<script type="text/javascript" src="public/signup/signup-controller.js"></script>
<script type="text/javascript" src="public/navigation/navigation-controller.js"></script>
<script type="text/javascript" src="public/profile/edit-profile-controller.js"></script>
<script src="public/main/main-controller.js"></script>
<script type="text/javascript" src='public/follow/follow-controller.js'></script>
<!--Libraries -->
<script type="text/javascript" src= "node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
<script type="text/javascript" src= "node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
<script type="text/javascript" src= "node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>

</html>